@use '../abstracts/' as *;

body {
  @media screen and (min-width: 1024px) {
    display: grid;
    place-items: center;
  }
}

.main {
  background-color: $white;
  border-radius: 24px;

  @media screen and (min-width: 1024px) {
    max-width: 80%;
    width: 50rem;
    margin-inline: auto;
    box-shadow: 15px 15px 25px hsla(241, 81%, 54%, 0.05);
  }
}

.result-summary__container {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
