@use '../abstracts/' as *;

.summary {
  padding-block: 2rem;
  padding-inline: 2rem;

  // @media screen and (min-width: 1024px) {
  //   box-shadow: 15px 15px 20px hsla(241, 81%, 54%, 0.05);
  // }

  &__heading {
    color: $dark-gray-blue;
    margin-block-end: 1.25rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-end: 2rem;
    font-size: $fs-para-body;

    @media screen and (min-width: 1024px) {
      padding-inline: 1rem;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 12px;

      &--content {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }

  &__score {
    color: $light-lavender;
    font-weight: $fw-500;

    strong {
      color: $dark-gray-blue;
      font-weight: $fw-800;
    }
  }
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
  color: hsl(0, 100%, 67%);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
  color: hsl(166, 100%, 37%);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.05);
  color: hsl(234, 85%, 45%);
}

.btn__continue {
  background-image: linear-gradient($dark-gray-blue, $dark-gray-blue);
  color: $white;
  border: none;
  border-radius: 100px;
  width: 100%;
  padding-block: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-image 0.2s;

  &:hover {
    background-image: linear-gradient(
      $bg-light-slate-blue,
      $bg-light-royal-blue
    );
  }
}
